<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>		
		<add key="Sídlo:" value="faktuře),Dopravní"/>
		<add key="CEVA" value="pozice:,Datum připlutí:"/>
		<add key="Cost" value="Order :,For"/>
		<add key="Import-Transport" value="Position: ,Date:"/>
		<add key="TRANSPORT" value="Our,Date:"/>
		<add key="Carrier:" value="Order: ,Item:"/>
	</appSettings>
</configuration>